<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency App</title>
    <style>
        *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
        h1{
            text-align: center;
            margin: 20px;
        }
        h2{
            margin: 10px;
        }
        .cards{
            display: flex;
            flex-wrap: wrap;  
            gap: 10px;   
            justify-content: center;                
        }
        .card{
            width:300px;
            display:flex;
            flex-direction: column;
            align-items: center;           
        }
        table,tr,td,th{
            border-collapse: collapse;
            border:1px solid black;
        }
        table{
            width:100%;     
            font-size: 20px;                   
        }
        tr{
            cursor: pointer;
        }
        tr:hover{
            background-color: rgb(172, 155, 155);
        }
            
            

    </style>
</head>

<body>
    <h1>Currencies</h1>
    <div class="cards">
      <% allData.forEach(function(company){%>
        <div class="card">
        <h2><%= Object.keys(company)[0] %> </h2>
        <table>
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>buy</th>
                    <th>sell</th>
                </tr>
            </thead>
            <tbody>
                <% Object.values(company)[0].forEach(function(currency){%>
                    <tr>
                        <td>
                            <%= currency.ISO %>
                        </td>
                        <td>
                             <%= (+currency.AMOUNT_BUY).toFixed(4) %>
                        </td>
                        <td>
                            <%= (+currency.AMOUNT_SELL).toFixed(4) %>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>       
        <%})%>

    </div>

    <script>
        setInterval(()=>{
            window.location.reload()
        },(5*60*1000))
    </script>
</body>

</html>